streamlit
pandas
gspread
oauth2client
selenium
webdriver-manager
requests
openpyxl
bcrypt==4.0.1
plotly
psycopg2-binary
supabase
gspread
oauth2client
gspread
google-auth
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2

