streamlit
pandas
gspread
oauth2client
selenium
webdriver-manager
requests
openpyxl
bcrypt==4.0.1
plotly
psycopg2-binary
supabase
streamlit
gspread
oauth2client
streamlit
gspread
google-auth
streamlit
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
